SECRET_KEY=your-secret-key
DEBUG=True
NAME=file_server
DB_USER=postgres
PASSWORD=your-password
HOST=db
PORT=5432
EMAIL_HOST=smtp.yandex.ru
EMAIL_PORT=465
EMAIL_HOST_USER=your-email@yandex.com
EMAIL_HOST_PASSWORD=your-app-password