{% extends 'base.html' %}
{% block navbar %}
<div>
    <a class="btn btn-outline-light btn-sm" href="/about/">О проекте</a>
    
   
</div>
{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-4">
        <h2 class="mb-4">Вход</h2>
        {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="login" class="form-label">Логин</label>
                <input type="text" name="login" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Пароль</label>
                <input type="password" name="password" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Войти</button>
            <a href="/register/" class="btn btn-link">Регистрация</a>
        </form>
    </div>
</div>
{% endblock %}